 * {
     margin: 0;
     padding: 0;
     text-decoration: none;
     font-family: "Truculenta", sans-serif;

     scroll-behavior: smooth;
     scrollbar-width: none;

 }



 .firstsection {
     display: flex;
     justify-content: space-around;
     background-color: #041c34;
     height: 100vh;

 }


 .firstsection div {
     width: 100%;
 }

 .second-section div {
     width: 90%;
 }


 .about-content p {
     font-size: 1.5rem;
     margin-top: 110px;
     font-family: "Titillium Web", sans-serif;
 }

 .details h4 {
     margin: 15px;


 }

 .details-2 h4 {
     margin: 15px;


 }

 .details h4 span {
     color: orangered;
     font-size: 20px;
     font-weight: 700;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .details h4 {
     font-size: 20px;
     font-weight: 700;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .details {
     margin-top: 40px;
 }

 .left-img img {
     width: 338px;
     margin-top: 20%;
     margin-left: 100px;
 }

 .left-img-arrow img {
     width: 150px;
     margin-top: 10px;
     margin-left: 350px;
 }

 .details-container {
     display: flex;
 }

 .details-2 {
     margin-top: 40px;
 }

 .details-2 h4 span {
     color: orangered;
     font-size: 20px;
     font-weight: 700;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .details-2 h4 {
     font-size: 20px;
     font-weight: 700;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .second-section {
     height: 100vh;
     display: flex;
     justify-content: space-around;

 }



 .icons {
     margin-top: 35px;

 }

 .icons ul {
     display: flex;
 }

 .icons ul li {
     list-style: none;
     margin: 0 15px;
 }

 .icons ul li i {
     font-size: 25px;
     color: black;
     line-height: 60px;
     transition: .6s;
 }

 .icons ul li i:hover {
     color: white;
 }

 .icons ul li a {
     position: relative;
     display: block;
     width: 55px;
     height: 55px;
     border-radius: 50%;
     background-color: #fff;
     text-align: center;
     transition: .6s;
     box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
 }

 .icons ul li a:hover {
     transform: translate(0, -10px);
 }

 .icons ul li:nth-child(1) a:hover {
     background-color: #0a66c2;
 }

 .icons ul li:nth-child(2) a:hover {
     background-color: #c32aa3;
 }

 .icons ul li:nth-child(3) a:hover {
     background-color: #868e96;
 }

 .icons ul li:nth-child(4) a:hover {
     background-color: #3b5998;
 }

 .primary-text {
     -webkit-text-stroke: 1px #fff;
     color: transparent;
     color: #041c34;
     font-size: 54px;
     font-weight: 600;
     line-height: 63px;
     text-shadow: 0 0 50px #3aaef77a;
     text-transform: uppercase;
     font-family: "Barrio", system-ui;
 }

 .highlighted-text {
     color: #fff;
     font-weight: bold;
     margin-left: 12px;
     margin-right: 9px;
     text-shadow: 0 0 9px #1d1122;
     font-family: "Truculenta", sans-serif;
 }

 .typewrite {
     color: blue;
 }

 .img-right {
     width: 70%;
     margin: 80px 0 0 50px;
 }

 .left {
     margin: 130px;
 }

 .content {
     margin-top: 30px;
     color: white;
     font-size: 1.2rem;
     font-family: "Truculenta", sans-serif
 }

 .static-txt {
     font-family: "Truculenta", sans-serif;
     font-size: 2rem;
     color: white;
     margin: 20px;
 }

 .left-btn {
     margin-top: 40px;
 }

 .hirebtn {
     margin-right: 17px;
     width: 100px;
     padding: 10px;
     font-size: 19px;
     border: 1px solid #041c34;
     border-radius: 30px;
     cursor: pointer;
 }

 .resumebtn {
     margin-left: 17px;
     width: 118px;
     padding: 10px;
     font-size: 20px;
     border: 1px solid #041c34;
     border-radius: 30px;
     cursor: pointer;
 }

 .hirebtn:hover {
     border: 1px solid #0481ff;
     color: white;
     background-color: transparent;
 }

 .resumebtn:hover {
     border: 1px solid #0481ff;
     background-color: peachpuff;
 }

 .third-section {
     height: 160vh;
     background-color: #041c34;
     justify-content: space-around;
 }



 .wrapper {
     display: flex;

 }

 .third-right-img img {
     width: 500px;
     margin-top: 100px;
     margin-right: 150px;
     border-radius: 10px;

 }

 .third-left {
     margin-top: 150px;


 }

 .third-left h1 {
     color: plum;
     font-size: 40px;
     font-weight: 700;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin-left: 120px;

 }

 .third-left p {
     color: whitesmoke;
     width: 50%;
     margin-left: 130px;
     margin-top: 35px;
     font-size: 20px;
     font-weight: 700;


 }

 .project-container {
     display: flex;
     margin-left: 80px;
     margin-top: 120px;
     justify-content: space-around;
     /* Adjust the margin-top as needed */
 }

 .projects {
     background-color: #fff;
     border-radius: 9px;
     box-shadow: 0 0 3px 0 #ccc;
     width: 350px;
     align-items: center;
    


     /* Align items vertically */

     /* Add padding for spacing */
 }

 .projects img {
     max-width: 350px;
     /* Adjust the maximum width of the image */
     margin-right: 20px;
     height: 250px;
     /* Add margin to create space between image and content */
 }

 .project-details {
     display: flex;
     margin: 6px;
     justify-content: space-around;

     color: #333;
     /* Adjust the color of the text */
 }

 .project-details h4 {
     font-size: 24px;
     /* Adjust the font size of the heading */
     margin-bottom: 10px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* Add margin below the heading */
 }

 .project-details p {
     font-size: 24px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* Adjust the font size of the paragraph */
 }

 .project-btn button {
     width: 150px;
     padding: 10px;
     margin-left: 80px;
     cursor: pointer;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     height: 45px;
     outline: none;
     transition: .3s ease-in-out;
     border-radius: 5px solid white;



 }

 .project-btn button:hover {
     background-color: cornflowerblue;
 }

 .project-btn {
     margin: 15px;
 }

 .fourth-section {
     height: 130vh;
     background-color: peachpuff;
 }

 .skills {
     text-align: center;
     padding: 50px 0 0;

 }

 .skills h2 {
     color: orangered;
     text-shadow: 0 0 50px red;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 45px;

 }

 .skills span {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: rebeccapurple;
 }

 .skill-cards {
     display: flex;
     margin-top: 30px;
     align-items: center;
     justify-content: center;

 }

 .cards {
     margin: 40px;

 }

 .skill-cards div {
     border-radius: 40px;
     font-weight: 500;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     height: 109px;
     padding: 32px;
     text-align: center;
 }

 .img-container{
    background-color:#e5eef812 ;
    border-radius: 50%;
    flex-direction: column;
    gap: 10px;
    height: 6rem;
    width: 6rem;
    display: flex;
   margin: 50px;
   align-items: center;
   justify-content: center;
 }

 .img-container img{
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
 }
 .img-container h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 }
 
 .s-container{
    display: flex;
    margin-top: -80px;
    align-items: center;
    justify-content: center;

 }
 .img-container1{
    background-color:#e5eef812 ;
    border-radius: 50%;
    flex-direction: column;
    gap: 10px;
    height: 6rem;
    width: 6rem;
    display: flex;
   margin: 50px;
 }

 .img-container1 img{
    border-radius:50%;
    height: 7.2rem;
    width: 7.2rem;
 }

 .img-container1 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

 .s-container1{
    display: flex;
    margin-top: -80px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

 }

 .img-container3 img{
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
 }
 .img-container3 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
 }

 .img-container3{
    background-color:#e5eef812 ;
    border-radius: 50%;
    flex-direction: column;
    gap: 10px;
    height: 6rem;
    width: 6rem;
    display: flex;
   margin: 50px;
   margin-top: 100px;
 }

 .fifth-section{
    height: 60vh;
    background-color:#062f57;
   
    
 }
 .footer-header h3{
    font-size: 32px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 56px 0 0 80px;

 }

 .footer-link a{
    color:  white;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
 }
 .footer-link p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 }
 .footer-link a:hover{
    color: palevioletred;
 }
 .footer-link{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 82px;
 }
 .footer-link a i {
    margin-right: 10px; /* Adjust as needed */
}
.footer-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.footer-contact{
    color: orangered;
    font-size: 19px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 5px;
    cursor: pointer;
}
.footer-contact p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 10px;

}
.footer-contact{
    margin-top: 25px;
    margin-left: 82px;

}
.bottom-icons{
    display: flex;
    margin-top: 20px;
    font-size: 22px;
     
}
.bottom-icons a{
    margin: 8px;
    color: white; 
}
.footer-icons{
    margin-left: 80px;
}
.line-container {
    text-align: center;
}

.line {
    border: 0;
    height: 1px; /* Adjust the height of the line as needed */
    background-color: #000; /* Adjust the color of the line */
    width: 90%; /* Adjust the width of the line as needed */
    margin: 20px auto; /* Adjust the margin as needed */
}
.headlast{
    text-align: center;
}
 


